html{
    font-size: 100%;
}
*{
    box-sizing: border-box;
    
}

.Container{
    display: grid;
    /* grid-template-columns:minmax(80px,120px)250px 250px; */

    /* for without using media queries */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 5px;
    background-color: aqua;
}

div{
    border: 1px solid black;
    padding: 10px;
    background-color: aliceblue;
    /* font-size: 1.3rem;    */

}

@media (max-width:768px){
    html{
        font-size: 2rem;
    }

.Container>div:nth-child(even){
    background-color: red;
    color: pink;
}
}
