
*{
    /* margin:0; */
    /* padding:0; */
    box-sizing:border-box;
    
}

html{
    font-size: 100%;
}
.container{
    background: url(../images/—Pngtree—my\ resume\ background\ material_1117680.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position:center;ti h  */



    margin: 40px auto;
    padding: 0 20px;
    max-width: 1200px;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    border: 1px solid black;
    font-family: "Poppins", sans-serif;
}

header h1{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
}
#contact a{
    text-decoration: none;
    color: red;
}

.project-info{
    padding-left: 0px;
}
.project-info li{
    list-style: none;
}

#footer h5{
    text-align: center;
}

#footer{
    border-top: 1px solid black;
}

#skills ul li{
    list-style:decimal;
}

/* media queries */

/* for small devices */
/* @media(max-width:500px){
    
    html,body{
        width: 100%;
    }
} */
/* Mobile phone */
@media(max-width:768px){
h1,h2{
    text-align: center;
}
html{
    font-size: 0.5rem;
}

body{
    /* font-size: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2px;
    padding: 20px; */
    /* overflow:hidden; */
}

/* #projects ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
} */


.project-info{
    padding-left: 0px;
}

#skills ul{
    padding-left: 0px;
}
.project-info li{
    border: 1px solid black;    
    padding:5px 10px;
    list-style: none;
}

#skills ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#skills ul li{
    list-style: none;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: aliceblue;
}

#contact{
    /* overflow: hidden; */
    width: 100%;
}
}